body {
    background-color: #f8f9fa;
  }
  .signup-container {
    margin-top: 50px;
  }
  .signup-box {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: rgb(154, 153, 153) ;
  }
  .form-control {
    border-radius: 25px;
  }
  .btn-custom {
    background-color: #28a745;
    color: white;
    border-radius: 25px;
  }
  .btn-custom:hover {
    background-color: #3005db;
    color: #fff;
  }
  .form-label {
    font-weight: 500;
  }